<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль - ResuFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_profile.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}"><span class="logo-text">ResuFlow</span></a>
        </div>
        <nav class="nav">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('logout') }}" class="logout-link">Выйти</a>
        </nav>
    </header>
    <main class="profile-container">
        <div class="profile-info">
            <h1>Профиль пользователя</h1>
            <p>Имя пользователя: {{ current_user.username }}</p>

            <h2>Загруженные документы:</h2>
            <ul>
                {% for upload in uploads %}
                    <li>
                        {{ upload.filename }} - Загружен {{ upload.date_uploaded.strftime('%d.%m.%Y %H:%M') }}
                    </li>
                {% else %}
                    <li>Нет загруженных документов.</li>
                {% endfor %}
            </ul>

            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".pdf, .doc, .docx">
                <button type="submit">Загрузить документ</button>
            </form>
        </div>

        <div class="profile-avatar">
            <img src="{{ url_for('static', filename=current_user.avatar_url) if current_user.avatar_url else url_for('static', filename='images/profile-icon.svg') }}" alt="Profile Icon" class="avatar">
            <form action="{{ url_for('upload_avatar') }}" method="post" enctype="multipart/form-data">
                <label for="avatar">Изменить аватар:</label>
                <input type="file" id="avatar" name="avatar" accept="image/*">
                <button type="submit">Загрузить аватар</button>
            </form>
        </div>
    </main>
</body>
</html>
